/* your custom css */

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

.nav-footer {
    padding-top: 0;
}

/* html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  } */

/* body {
    font-family: -apple-system, BlinkMacSystemFont, 'Open Sans', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 
    'Segoe UI Emoji', 'Segoe UI Symbol' !important;
} */

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans', 'Noto Sans Hebrew', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 
    'Segoe UI Emoji', 'Segoe UI Symbol' !important;
}

.table-cell-right {
    text-align: right;
}

.row {
    display: flex;
  }
  
.column {
    flex: 50%;
  }

.rtl {
    direction: rtl !important;
}

.separator {
    height: 2px;
    background-color: #cc1f3d;
    width: 30%;
    margin: 15px auto
}